name: Pipeline CI/CD

on:
  push:
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Obtener codigo
      uses: actions/checkout@v3
    
    - name: Instalar Java
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    
    - name: Verificar estructura
      run: |
        echo "Verificando archivos..."
        ls -la matias-alcivar/
        ls -la matias-alcivar/src/main/java/
        ls -la matias-alcivar/tests/
    
    - name: Crear carpetas de salida
      run: |
        mkdir -p out/production
        mkdir -p out/test
    
    - name: Compilar aplicacion
      run: |
        javac -d out/production matias-alcivar/src/main/java/Calculator.java
    
    - name: Compilar tests
      run: |
        javac -cp out/production -d out/test matias-alcivar/tests/CalculatorTest.java
    
    - name: Ejecutar tests
      run: |
        java -cp out/production:out/test CalculatorTest
    
    - name: Generar archivo JAR
      run: |
        cd out/production
        echo "Main-Class: Calculator" > manifest.txt
        jar cfm Calculator.jar manifest.txt *.class
        cd ../..
    
    - name: Probar el JAR generado
      run: |
        java -jar out/production/Calculator.jar
    
    - name: Guardar artefacto
      uses: actions/upload-artifact@v4
      with:
        name: aplicacion-java
        path: out/production/Calculator.jar
        retention-days: 30